:root{
    --azulSenac:#005594;
    --laranjaSenac: #F78B1F
    
}

body{
    background: linear-gradient(to right, #005594, #0A99F2 );
}

header{
    color:var(--azulSenac);
    border: 5px solid var(--laranjaSenac);
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.589);
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: white;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

ul{
    display: flex;
    flex-direction: row;
    
}

li{

    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin-left: 100px;
    
}

a:hover{
    border-bottom: var(--laranjaSenac) solid 1px;
}

.catalogo{
   margin-top: 20px;
   max-width: 100%;
    border: 1px solid var(--laranjaSenac);
    background-color: rgba(255, 255, 255, 0.452);
    display: table-row;
    justify-content: center;
}

.card{
  max-width: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-size: small;
  text-align: center;
  border: var(--laranjaSenac) solid 3px;
  background-color: var(--azulSenac);
  color: white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.295) 5px 5px 5px;
  float: left;
  transition: 0.5s;
}

.card:hover{
    border: none;
    box-shadow: var(--laranjaSenac) 0px 0px 10px;
    max-width: 505px;
}

h2{
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 10px;

}

p{
    text-shadow: 0px 5px 5px black;
    margin: 0;
    padding: 5px;
}

hr{
    width: 99%;
    
}

button{
    text-align: center;
    width: 150px;
    margin: 10px auto;
    border-radius: 50px;
    border: white solid 2px;
    background-color: var(--laranjaSenac);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover{
    box-shadow: #0A99F2 0px 0px 15px;
    width: 36%;
    text-shadow: white 0px 0px 5px;
    color: white;
}

img{
    margin: 10px auto;
    padding: 0px;
    width: 66%;
    align-self: center;
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.384);
}