@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


:root {
    --PrimaryColor: #2060c0;
    --SecondaryColor: #67a8fc;
    --TerciariColor: #2595c9;
}

* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

body {
background-color: var(--SecondaryColor);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

fieldset {
    width: 30vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    border: dashed 5px black;    
    padding: 1em;
}

fieldset > div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 1.5em;
}

fieldset > div > div {
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset > div > div > span {
    padding: 0em 1.2em;
}

.dateContent {
    gap: 1.2em;
}

.dateContent div {
    display: flex;
    gap: 1.2em;
}

.dateContent label {
    font-size: 35px;
}

input{
    width: 15em;
    height: 2.5em;
    padding: 0px 10px;
    font-size: 1.2em;
}

label {
    font-size: 1.9vw;

}

input[type='submit']{
    width: 9em;
    text-align: center;
    font-size: 1.5vw;
    border: none;
    background-color: var(--SecondaryColor);
    color: white;
    border-radius: 15px;
    margin-bottom: 1.3em;
    cursor: pointer;
}

legend {
    background-color: var(--PrimaryColor);
    border-radius: 50px;
    font-size: 1.5vw;
    margin-left: 2.5em;
    color: white;
    padding: 0em .4em;
}